{% extends 'base.html' %}

{% block title %} AgriBase {% endblock %}

{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Welcome to AgriBase 🌱</h1>
        <p class="col-md-8 fs-4">Here, you can find all the Agricultural statistics data of **Bangladesh**</p>
    </div>
</div>

<div class="container mb-5">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Area Reports</h5>
                    <p class="card-text">Area and Production of crops</p>
                    <a href="{{ url_for('area_summary') }}" class="btn btn-primary">View Area Summary</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Yield Reports</h5>
                    <p class="card-text">Crop yield over years.</p>
                    <a href="{{ url_for('yield_summary') }}" class="btn btn-primary">View Yield Summary</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Pie chart Visuals</h5>
                    <p class="card-text">Visuals of crop production percentage by area</p>
                    <a href="{{ url_for('pie_charts') }}" class="btn btn-primary">View Pie Charts</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Top Producers</h5>
                    <p class="card-text">Learn which crops are best produced in your area. You can also find which areas special for producing any particuar crop</p>
                    <a href="{{ url_for('top_producers') }}" class="btn btn-primary">View Top Producers</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card h-100 shadow">
                <div class="card-body text-center">
                    <h5 class="card-title">Crop Analysis</h5>
                    <p class="card-text">Search for specific crop information by area</p>
                    <a href="{{ url_for('crop_analysis') }}" class="btn btn-primary">Analyze Crops</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
